<div class="jumbotron">
    <h1 class="display-3">header{j_header}</h1>
    <p class="lead">{j_sub_header}</p>
    <hr class="my-4">
    <p>{j_text}</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{j_button_url}" role="button">{j_button_text}</a>
    </p>
</div>